html {
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
    color: rgb(37, 37, 37);
    font-family: 'Alatsi', sans-serif;
}

#root {
  /* color: white; */
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

::placeholder {
  text-align: center;
}